// Custom styles
// Overwrites all other styles including utilities
// Usage. place code in chronological order as seen in bootstrap.scss


// -- Type --
//
//

// Custom inverse headings
h1.type-inverse, h2.type-inverse, h3.type-inverse, h4.type-inverse, h5.type-inverse, h6.type-inverse,
.h1.type-inverse, .h2.type-inverse, .h3.type-inverse, .h4.type-inverse, .h5.type-inverse, .h6.type-inverse {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-inverse-font-weight;
  line-height: $headings-line-height;
  color: $headings-inverse-color;
}

// Custom element
.lead-out {
  font-size: $lead-out-font-size;
  font-weight: $lead-out-font-weight;
  color: $gray-blue-50;
  margin-bottom: $lead-out-margin-bottom;
}
// Custom element
a, a:focus {
  outline: $link-outline;
}


// -- Forms --
//
//

.form-control {
  display: block;
  width: 100%;
  // // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  // height: $input-height;
  padding: $input-padding-y $input-padding-x;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $input-color;
  background-color: $input-bg;
  // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214.
  background-image: none;
  border: $input-btn-border-width solid $input-border-color;
  // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
  @include border-radius($input-border-radius);
  @include box-shadow($input-box-shadow);
  @include transition(all .15s ease-in-out);   // Custom

  // Make inputs at least the height of their button counterpart (base line-height + padding + border).
  // Only apply the height to textual inputs and some selects.
  // &:not(textarea),
  // &:not(select[size]),
  // &:not(select[multiple]) {
  //   height: $input-height;
  // }

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-control-focus();
  @include form-placeholder-fade-focus(); // Custom

  // Placeholder
  &::placeholder {
    color: $input-color-placeholder;
    text-transform: $text-casing;                           // Custom
    font-size: $font-size-xs;                               // Custom
    padding: .25rem 0 0 0;                                  // Custom
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &:disabled,
  &[readonly] {
    background-color: $input-bg-disabled;
    // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
    opacity: 1;
  }

  &:disabled {
    cursor: $cursor-disabled;
  }
}

fieldset.form-group > label {
  color: $gray-400;                              // Custom
  font-size: $font-size-xs;                      // Custom
  text-transform: $text-casing;                  // Custom
}


label {
  font-size: $font-size-xs;                      // Custom
  text-transform: $text-casing;                  // Custom
}

// Temporary fix. This is an issue that needs to be resolved with bootstrap v4 see issue - https://github.com/twbs/bootstrap/issues/19095
.checkbox-radio-label-fix {
  padding-top: .25rem;                           // Custom
}

.checkbox label, .radio label {
  font-size: $font-size-base;                    // Custom
  text-transform: capitalize;                    // Custom
}

// For use with horizontal and inline forms, when you need the label text to
// align with the form controls.
.form-control-label {
  padding: $input-label-padding-y $input-label-padding-x;  // Custom - $input-label-padding-y $input-label-padding-x
  margin-bottom: 0; // Override the `<label>` default
  font-size: $input-label-font-size;                       // Custom
  font-weight: $input-label-font-weight;                   // Custom
  text-transform: $input-label-text-transform;             // Custom
  height: 42px;
}


// Forms (Inverse)
//

.form-inverse-control {
  display: block;
  width: 100%;
  // // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  // height: $input-height;
  padding: $input-padding-y $input-padding-x;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: 300;                            // Custom
  color: $input-inverse-color;                 // Custom
  background-color: $input-inverse-bg;
  // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214.
  background-image: none;
  border: $input-btn-border-width solid $input-inverse-border-color;  // Custom
  // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
  @include border-radius($input-border-radius);
  @include box-shadow($input-box-shadow);
  @include transition(all .15s ease-in-out);   // Custom

  // Make inputs at least the height of their button counterpart (base line-height + padding + border).
  // Only apply the height to textual inputs and some selects.
  // &:not(textarea),
  // &:not(select[size]),
  // &:not(select[multiple]) {
  //   height: $input-height;
  // }

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-inverse-control-focus();  // Custom
  @include form-placeholder-fade-focus(); // Custom

  // Placeholder
  &::placeholder {
    color: $input-inverse-color-placeholder;  // Custom
    text-transform: $text-casing;             // Custom
    font-size: $font-size-xs;                 // Custom
    font-weight: 400;                         // Custom
    padding: .25rem 0 0 0;                    // Custom
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &:disabled,
  &[readonly] {
    background-color: $input-bg-disabled;
    // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
    opacity: 1;
  }

  &:disabled {
    cursor: $cursor-disabled;
  }
}
fieldset.form-group.form-inverse > label {
  color: $gray-blue-50;                          // Custom
}

.checkbox-radio-label-inverse-fix {
  padding-top: .25rem;                           // Custom
  color: $gray-blue-50;                          // Custom
}

// Custom element
.form-inverse-control-label {
  color: $gray-blue-50;                          // Custom
  text-align: right;                             // Custom
  padding-right: $input-label-padding-x * 1.5;   // Custom
}

.text-muted-inverse {
  color: $gray-blue-50;                          // Custom
}



// -- CUSTOM FORMS --
//
//

// Select
//
// Replaces the browser default select with a custom one, mostly pulled from http://primercss.io.
// Includes IE9-specific hacks (noted by ` \9`).

.custom-select {
  display: inline-block;
  max-width: 100%;
  padding: $custom-select-padding-y ($custom-select-padding-x + $custom-select-indicator-padding) $custom-select-padding-y $custom-select-padding-x;
  padding-right: $custom-select-padding-x \9;
  color: $input-color;                          // Custom
  vertical-align: middle;
  background: $custom-select-bg url(#{$custom-select-indicator}) no-repeat right $custom-select-padding-x center;    // Custom - $custom-select-bg
  background-image: none \9;
  background-size: $custom-select-bg-size;
  border: $custom-select-border-width solid $custom-select-border-color;    // Custom - $custom-select-border-color
  @include border-radius($custom-select-border-radius);
  // Use vendor prefixes as `appearance` isn't part of the CSS spec.
  -moz-appearance: none;
  -webkit-appearance: none;
  @include transition(all .15s ease-in-out);     // Custom

 &:focus,
 &:hover {
    border-color: $input-border-focus;           // Custom
    background-color: $gray-50;                  // Custom
    color: $gray-800;                            // Custom
    outline: none;
    @include box-shadow($custom-select-focus-box-shadow);
    @include transition(all .15s ease-in-out);   // Custom
  }

  // Hides the default caret in IE11
  &::-ms-expand {
    opacity: 0;
  }
}

// File

.custom-file {
  text-transform: capitalize!important;        // Custom
  font-size: $font-size-base!important;        // Custom
  position: relative;
  display: inline-block;
  max-width: 100%;
  height: $custom-file-height;
  cursor: pointer;
}

.custom-file-control {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: $custom-file-height;
  padding: $custom-file-padding-x $custom-file-padding-y;
  line-height: $custom-file-line-height;
  color: $custom-file-color;
  user-select: none;
  background-color: $custom-file-bg;
  border: $custom-file-border-width solid $custom-file-border-color;
  @include border-radius($custom-file-border-radius);
  @include box-shadow($custom-file-box-shadow);
  @include transition(all .15s ease-in-out);   // Custom

  &::after {
    content: $custom-file-placeholder;
  }

  &::before {
    position: absolute;
    top: -$custom-file-border-width;
    right: -$custom-file-border-width;
    bottom: -$custom-file-border-width;
    z-index: 6;
    display: block;
    height: $custom-file-height;
    padding: $custom-file-padding;               // Custom
    text-transform: $text-casing;                // Custom
    font-size: $font-size-xxs;                   // Custom
    letter-spacing: 1px;                         // Custom  
    line-height: $custom-file-line-height;
    color: $custom-file-button-color;
    content: $custom-file-button-label;
    background-color: $custom-file-button-bg;    // Custom
    border: $custom-file-border-width solid $brand-primary;
    @include border-radius(0 $custom-file-border-radius $custom-file-border-radius 0);
  }

  &:hover::before {
    color: $white;
      background-color: darken($brand-primary, 10%);
          border-color: darken($brand-primary, 10%);
  }

  &:focus,
  &:hover {
    border-color: $input-border-focus;                       // Custom
    background-color: $gray-50;                              // Custom
    color: $gray-800;                                        // Custom
    outline: none;                                           // Custom
    @include box-shadow($custom-select-focus-box-shadow);    // Custom
  }
}


// Custom Forms (Inverse)
//
// Custom Forms
//

.custom-control-inverse {
  color: $white;                                  // Custom
  font-weight: $input-inverse-label-font-weight;  // Custom
  position: relative;
  display: inline;
  padding-left: $custom-control-gutter;

  + .custom-control {
    margin-left: $custom-control-spacer-x;
  }
}

.custom-control-inverse-input {
  position: absolute;
  z-index: -1; // Put the input behind the label so it doesn't overlay text
  opacity: 0;

  &:checked ~ .custom-control-inverse-indicator {
    color: $custom-control-checked-indicator-color;
    background-color: $custom-control-checked-indicator-bg;
    @include box-shadow($custom-control-checked-indicator-box-shadow);
  }

  &:focus ~ .custom-control-inverse-indicator {
    // the mixin is not used here to make sure there is feedback
    box-shadow: $custom-control-focus-indicator-box-shadow;
  }

  &:active ~ .custom-control-inverse-indicator {
    color: $custom-control-active-indicator-color;
    background-color: $custom-control-active-indicator-bg;
    @include box-shadow($custom-control-active-indicator-box-shadow);
  }

  &:disabled {
    ~ .custom-control-inverse-indicator {
      cursor: $custom-control-disabled-cursor;
      background-color: $custom-control-inverse-disabled-indicator-bg;
    }

    ~ .custom-control-inverse-description {
      color: $custom-control-inverse-disabled-description-color;
      cursor: $custom-control-disabled-cursor;
      font-weight: $input-label-font-weight;     // Custom
    }
  }
}

// Custom indicator
//
// Generates a shadow element to create our makeshift checkbox/radio background.

.custom-control-inverse-indicator {
  position: absolute;
  top: .0625rem;
  left: 0;
  display: block;
  width: $custom-control-indicator-size;
  height: $custom-control-indicator-size;
  pointer-events: none;
  user-select: none;
  background-color: $gray-blue-100;          // Custom
  background-repeat: no-repeat;
  background-position: center center;
  background-size: $custom-control-indicator-bg-size;
  @include box-shadow($custom-control-indicator-box-shadow);
}

// Checkboxes
//
// Tweak just a few things for checkboxes.

.custom-checkbox-inverse {
  .custom-control-inverse-indicator {
    @include border-radius($custom-checkbox-radius);
  }

  .custom-control-inverse-input:checked ~ .custom-control-inverse-indicator {
    background-image: url(#{$custom-checkbox-checked-icon});
  }

  .custom-control-inverse-input:indeterminate ~ .custom-control-inverse-indicator {
    background-color: $custom-checkbox-indeterminate-bg;
    background-image: url(#{$custom-checkbox-indeterminate-icon});
    @include box-shadow($custom-checkbox-indeterminate-box-shadow);
  }
}

// Radios
//
// Tweak just a few things for radios.

.custom-radio-inverse {
  .custom-control-inverse-indicator {
    border-radius: $custom-radio-radius;
  }

  .custom-control-inverse-input:checked ~ .custom-control-inverse-indicator {
    background-image: url(#{$custom-radio-checked-icon});
  }
}

// Select

.custom-select-inverse {
  display: inline-block;
  max-width: 100%;
  padding: $custom-select-padding-y ($custom-select-padding-x + $custom-select-indicator-padding) $custom-select-padding-y $custom-select-padding-x;
  padding-right: $custom-select-padding-x \9;
  color: $white;                                  // Custom
  font-weight: $input-inverse-label-font-weight;  // Custom
  vertical-align: middle;
  background: $custom-select-inverse-bg url(#{$custom-select-inverse-indicator}) no-repeat right $custom-select-padding-x center;    // Custom - $custom-select-inverse-bg
  background-image: none \9;
  background-size: $custom-select-bg-size;
  border: $custom-select-border-width solid $custom-select-inverse-border-color;   // Custom - $custom-select-inverse-border-color
  @include border-radius($custom-select-border-radius);
  // Use vendor prefixes as `appearance` isn't part of the CSS spec.
  -moz-appearance: none;
  -webkit-appearance: none;
  @include transition(all .15s ease-in-out);        // Custom

 &:focus,
 &:hover {
    border-color: $input-inverse-border-focus;      // Custom
    background-color: $gray-blue-200;               // Custom
    color: $white;                                  // Custom
    font-weight: $input-inverse-label-font-weight;  // Custom
    outline: none;
    @include box-shadow($custom-select-focus-box-shadow);
    @include transition(all .15s ease-in-out);      // Custom
  }
  // Hides the default caret in IE11
  &::-ms-expand {
    opacity: 0;
  }
}

// File

.custom-inverse-file-control {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: $custom-file-height;
  padding: $custom-file-padding-x $custom-file-padding-y;
  line-height: $custom-file-line-height;
  color: $custom-inverse-file-color;              // Custom
  font-weight: $input-inverse-label-font-weight;  // Custom
  user-select: none;
  background-color: $custom-inverse-file-bg;                                    // Custom
  border: $custom-file-border-width solid $custom-inverse-file-border-color;    // Custom - $custom-inverse-file-border-color
  @include border-radius($custom-file-border-radius);
  @include box-shadow($custom-file-box-shadow);
  @include transition(all .15s ease-in-out);   // Custom

  &::after {
    content: $custom-file-placeholder;
  }

  &::before {
    position: absolute;
    top: -$custom-file-border-width;
    right: -$custom-file-border-width;
    bottom: -$custom-file-border-width;
    z-index: 6;
    display: block;
    height: $custom-file-height;
    padding: $custom-file-padding;               // Custom
    text-transform: $text-casing;                // Custom
    font-size: $font-size-xxs;                   // Custom
    letter-spacing: 1px;                         // Custom  
    line-height: $custom-file-line-height;
    color: $custom-file-button-color;
    content: $custom-file-button-label;
    background-color: $custom-file-button-bg;    // Custom
    border: $custom-file-border-width solid $brand-primary;
    @include border-radius(0 $custom-file-border-radius $custom-file-border-radius 0);
  }

  &:hover::before {
    color: $white;
      background-color: darken($brand-primary, 10%);
          border-color: darken($brand-primary, 10%);
  }

  &:focus,
  &:hover {
    border-color: $input-inverse-border-focus;               // Custom
    background-color: $gray-blue-200;                        // Custom
    color: $white;                                           // Custom
    font-weight: $input-inverse-label-font-weight;           // Custom
    outline: none;                                           // Custom
    @include box-shadow($custom-select-focus-box-shadow);    // Custom
  }
}


// List group
//
// 

// Interactive list items
//
// Use anchor or button elements instead of `li`s or `div`s to create interactive
// list items. Includes an extra `.active` modifier class for selected items.

a.list-group-item,
button.list-group-item {
  width: 100%;
  color: $list-group-link-color;
  text-align: inherit;
  text-transform: lowercase;                   // Custom

  .list-group-item-heading {
    color: $list-group-link-heading-color;
  }

  // Hover state
  @include hover-focus {
    color: $list-group-link-hover-color;
    text-decoration: none;
    background-color: $list-group-hover-bg;
  }
}

.list-group-item {
  // Disabled state
  &.disabled {
    @include plain-hover-focus {
      color: $list-group-disabled-color;
      cursor: $cursor-disabled;
      background-color: $list-group-disabled-bg;

      // Force color to inherit for custom content
      .list-group-item-heading {
        color: inherit;
      }
      .list-group-item-text {
        color: $list-group-disabled-text-color;
      }
    }
  }

  // Active class on item itself, not parent
  &.active {
    @include plain-hover-focus {
      z-index: 2; // Place active items above their siblings for proper border styling
      color: $list-group-active-color;
      background-color: $list-group-active-bg;
      background-repeat: no-repeat;
      background-position: center left;
      background-size: ($font-size-base * .7) ($font-size-base * .7);
      background-image: url($list-group-active-icon);
      border-color: $list-group-active-border;

      // Force color to inherit for custom content
      .list-group-item-heading,
      .list-group-item-heading > small,
      .list-group-item-heading > .small {
        color: inherit;
      }
      .list-group-item-text {
        color: $list-group-active-text-color;
      }
    }
  }
}
