// Custom styles
// Overwrites all other styles including utilities
// Usage. place code in chronological order as seen in bootstrap.scss


// Type

// Custom element
.lead-out {
  font-size: $lead-out-font-size;
  font-weight: $lead-out-font-weight;
  color: $gray-blue-50;
}
// Custom element
a, a:focus {
  outline: $link-outline;
}


// Forms

.form-control {
  display: block;
  width: 100%;
  // // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  // height: $input-height;
  padding: $input-padding-y $input-padding-x;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $input-color;
  background-color: $input-bg;
  // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214.
  background-image: none;
  border: $input-btn-border-width solid $input-border-color;
  // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
  @include border-radius($input-border-radius);
  @include box-shadow($input-box-shadow);
  @include transition(all .15s ease-in-out);   // Custom

  // Make inputs at least the height of their button counterpart (base line-height + padding + border).
  // Only apply the height to textual inputs and some selects.
  // &:not(textarea),
  // &:not(select[size]),
  // &:not(select[multiple]) {
  //   height: $input-height;
  // }

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-control-focus();
  @include form-placeholder-fade-focus(); // Custom

  // Placeholder
  &::placeholder {
    color: $input-color-placeholder;
    text-transform: $text-casing;                           // Custom
    font-size: $font-size-xs;                               // Custom
    padding: .25rem 0 0 0;                                  // Custom
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &:disabled,
  &[readonly] {
    background-color: $input-bg-disabled;
    // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
    opacity: 1;
  }

  &:disabled {
    cursor: $cursor-disabled;
  }
}
.form-inverse-control {
  display: block;
  width: 100%;
  // // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  // height: $input-height;
  padding: $input-padding-y $input-padding-x;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $input-inverse-color;                 // Custom
  background-color: $input-inverse-bg;
  // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214.
  background-image: none;
  border: $input-btn-border-width solid $input-inverse-border-color;  // Custom
  // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
  @include border-radius($input-border-radius);
  @include box-shadow($input-box-shadow);
  @include transition(all .15s ease-in-out);   // Custom

  // Make inputs at least the height of their button counterpart (base line-height + padding + border).
  // Only apply the height to textual inputs and some selects.
  // &:not(textarea),
  // &:not(select[size]),
  // &:not(select[multiple]) {
  //   height: $input-height;
  // }

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-inverse-control-focus();  // Custom
  @include form-placeholder-fade-focus(); // Custom

  // Placeholder
  &::placeholder {
    color: $input-inverse-color-placeholder;  // Custom
    text-transform: $text-casing;             // Custom
    font-size: $font-size-xs;                 // Custom
    padding: .25rem 0 0 0;                    // Custom
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &:disabled,
  &[readonly] {
    background-color: $input-bg-disabled;
    // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
    opacity: 1;
  }

  &:disabled {
    cursor: $cursor-disabled;
  }
}

fieldset.form-group > label {
  font-size: $font-size-xs;                      // Custom
  text-transform: $text-casing;                  // Custom
}
fieldset.form-group.form-inverse > label {
  color: $gray-blue-50;                          // Custom
}
label {
  font-size: $font-size-xs;                      // Custom
  text-transform: $text-casing;                  // Custom
}

// Temporary fix. This is an issue that needs to be resolved with bootstrap v4 see issue - https://github.com/twbs/bootstrap/issues/19095
.check-radio-label-fix {
  padding-top: .25rem;                           // Custom
}

.checkbox label, .radio label {
  font-size: $font-size-base;                    // Custom
  text-transform: capitalize;                    // Custom
}

// For use with horizontal and inline forms, when you need the label text to
// align with the form controls.
.form-control-label {
  padding: $input-label-padding-y $input-label-padding-x;  // Custom - $input-label-padding-y $input-label-padding-x
  margin-bottom: 0; // Override the `<label>` default
  font-size: $input-label-font-size;                       // Custom
  font-weight: $input-label-font-weight;                   // Custom
  text-transform: $input-label-text-transform;             // Custom
  height: 42px;
}

// Custom element
.form-inverse-control-label {
  width: 150px;                                  // Custom  
  color: $gray-blue-50;                          // Custom
  font-weight: $input-inverse-label-font-weight; // Custom
  text-align: right;                             // Custom
  padding-right: $input-label-padding-x * 1.5;   // Custom
}

.text-muted-inverse {
  color: $gray-blue-50;                          // Custom
}

input[type="checkbox"], input[type="radio"] {

}


// Custom forms

// File
//
// Custom file input.
.custom-file {
  position: relative;
  display: inline-block;
  font-weight: $btn-font-weight;
  height: 42px;                       // Custom
  text-transform: $text-casing;       // Custom
  max-width: 100%;
  height: $custom-file-height;
  cursor: pointer;
}

.custom-file-input {
  min-width: $custom-file-width;
  max-width: 100%;
  margin: 0;
  filter: alpha(opacity = 0);
  opacity: 0;

  &:focus ~ .custom-file-control {
    @include box-shadow($custom-file-focus-box-shadow);
  }
}

.custom-file-control {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: $custom-file-height;
  padding: $custom-file-padding-x $custom-file-padding-y;
  line-height: $custom-file-line-height;
  color: $custom-file-color;
  user-select: none;
  background-color: $custom-file-bg;
  border: $custom-file-border-width solid $custom-file-border-color;
  @include border-radius($custom-file-border-radius);
  @include box-shadow($custom-file-box-shadow);

  &::after {
    content: $custom-file-placeholder;
  }

  &::before {
    position: absolute;
    top: -$custom-file-border-width;
    right: -$custom-file-border-width;
    bottom: -$custom-file-border-width;
    z-index: 6;
    display: block;
    height: $custom-file-height;
    padding: $custom-file-padding-x $custom-file-padding-y;
    line-height: $custom-file-line-height;
    color: $custom-file-button-color;
    content: $custom-file-button-label;
    background-color: $custom-file-button-bg;
    border: $custom-file-border-width solid $custom-file-border-color;
    @include border-radius(0 $custom-file-border-radius $custom-file-border-radius 0);
  }
}
